:root {
  --color: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7f8;
}

input {
  display: block;
  height: 7vh;
  /*width: 90%;*/
  /*max-width: 50vw;*/
  box-sizing: border-box;
  margin: 1.5vh 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--color);
  /*border-radius: 8px;*/
  outline: none;
  padding: 4px 16px;
  font-size: 32px;
  text-align: center;
  color: var(--color);
}
